
@{
    ViewData["Title"] = "contact";
}

    <section>
        <div class="bg-holder overlay" style="background-position:center bottom;margin-top:2px">
        <img src="~/img/background-2.jpg" />
    </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 text-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="text-white fs-4 fs-md-5 mb-0 lh-1" data-zanim-xs='{"delay":0}'>Contact</h1>
                        <div class="nav" aria-label="breadcrumb" role="navigation" data-zanim-xs='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 ps-0 fw-bold">
                            <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->
    </section><!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-100">
            <div class="container">
                <div class="row align-items-stretch justify-content-center mb-4">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body px-5">
                                <h5 class="mb-3">Abacus System</h5>
                                <p class="mb-0 text-1100"> B-28, 2nd floor,<br />Near Durga Mandap Saheed Nagar,<br />Bhubaneswar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body px-5">
                                <h5>Socials</h5><a class="d-inline-block mt-2" href="../index.html"><span class="fab fa-linkedin fs-2 me-2 text-primary"></span></a><a class="d-inline-block mt-2" href="../index.html"><span class="fab fa-twitter-square fs-2 mx-2 text-primary"></span></a><a class="d-inline-block mt-2" href="../index.html"><span class="fab fa-facebook-square fs-2 mx-2 text-primary"></span></a><a class="d-inline-block mt-2" href="../index.html"><span class="fab fa-google-plus-square fs-2 ms-2 text-primary"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div className="card mb-4">
                    <div className="card-body p-5 h-100">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7484.491381161037!2d85.84407230000002!3d20.290095100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909d0e2e6f32b%3A0xf2ba85d9fd60b591!2sAbacus%20System!5e0!3m2!1sen!2sin!4v1745307201230!5m2!1sen!2sin" width="1000" height="400" style={{border:0}} allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div className="marker-content py-3">
                            <h5>Abacus System</h5>
                            <p className="mb-0">
                                B-28, 2nd floor, Near Durga Mandap Saheed Nagar
                                <br /> Bhubaneswer, Odisha, 751007
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body h-100 p-5">
                        <h5 class="mb-3">Write to us</h5>
                        <form>
                            <div class="mb-4"><input class="form-control bg-white fw-bold" type="text" placeholder="Your Name" required="required" /></div>
                            <div class="mb-4"><input class="form-control bg-white fw-bold" type="email" placeholder="Email" required="required" /></div>
                            <div class="mb-4"><textarea class="form-control bg-white fw-bold" rows="11" placeholder="Enter your descriptions here..." required="required"></textarea></div><button class="btn btn-md-lg btn-primary" type="Submit"> <span class="color-white fw-600">Send Now</span></button>
                        </form>
                    </div>
                </div>
            </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->

    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    